:root {
  --clr-neutral-100: oklch(97% 0.01 92);
  --clr-neutral-200: oklch(89% 0.01 92);
  --clr-neutral-300: oklch(80% 0.01 92);
  --clr-neutral-400: oklch(71% 0.01 92);
  --clr-neutral-500: oklch(60% 0.01 92);
  --clr-neutral-600: oklch(49% 0.01 92);
  --clr-neutral-700: oklch(38% 0.01 92);
  --clr-neutral-800: oklch(25% 0.01 92);
  --clr-neutral-900: oklch(12% 0.01 92);
  --clr-brand-100: oklch(97% 0.02 92);
  --clr-brand-200: oklch(89% 0.05 92);
  --clr-brand-300: oklch(80% 0.12 92);
  --clr-brand-400: oklch(71% 0.19 92);
  --clr-brand-500: oklch(60% 0.27 92);
  --clr-brand-600: oklch(49% 0.19 92);
  --clr-brand-700: oklch(38% 0.12 92);
  --clr-brand-800: oklch(25% 0.05 92);
  --clr-brand-900: oklch(12% 0.02 92);
  --clr-teal-100: oklch(97% 0.02 170);
  --clr-teal-200: oklch(89% 0.05 170);
  --clr-teal-300: oklch(80% 0.12 170);
  --clr-teal-400: oklch(71% 0.19 170);
  --clr-teal-500: oklch(60% 0.27 170);
  --clr-teal-600: oklch(49% 0.19 170);
  --clr-teal-700: oklch(38% 0.12 170);
  --clr-teal-800: oklch(25% 0.05 170);
  --clr-teal-900: oklch(12% 0.02 170);
  --clr-blue-100: oklch(97% 0.02 280);
  --clr-blue-200: oklch(89% 0.05 280);
  --clr-blue-300: oklch(80% 0.12 280);
  --clr-blue-400: oklch(71% 0.19 280);
  --clr-blue-500: oklch(60% 0.27 280);
  --clr-blue-600: oklch(49% 0.19 280);
  --clr-blue-700: oklch(38% 0.12 280);
  --clr-blue-800: oklch(25% 0.05 280);
  --clr-blue-900: oklch(12% 0.02 280);
}

