body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto; /* => header main footer */
  font-size: clamp(0.5rem, 4cqi, 2rem);
  font-family: "Inter", system-ui, sans-serif;
}
header, footer, main {
  justify-self: center;
  max-width: 80ch;
}
footer {
  font-size: 1rem
}