body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto; /* => header main footer */
  font-size: 100%;
  font-family: "Inter", system-ui, sans-serif;
  padding-left: 2rem;
  padding-right: 2rem;
}
header, footer, main {
  justify-self: center;
  min-width: 95%;
}
header>nav>ul {
  display: flex;
  justify-content: flex-start;
}
header>nav>ul>li {
  padding-inline:0.75rem;
  margin-inline:0.5rem;
  outline: 1px solid black;
  outline-offset: -1px;
  color: black;
  box-shadow: 2px 2px 0 black;
}
header>nav>ul>li:first-child {
  margin-inline-start:0
}
header>nav>ul>li:last-child {
  margin-inline-end:0;
}
footer {
  font-size: 75%;
  margin-top: 3rem
}
dd>ul>li {
  list-style-type: none;
}
dd>ul>li:not(:first-child) {
  margin-top:1rem;
}

a.person {color:orangered;}


#headshot svg {
  min-width: 256px;
  color: #888;
  background-color: #eee;
  padding: .75rem
}
.personLineItem svg, #headshot svg, #homepage svg {
  /* border-radius: 0.5rem; */
  outline: 1px solid var(--clr-brand-300);
  outline-offset: -1px;
}
.personLineItem img {
  /* border-radius: 0.5rem; */
}
section:not(#headshot) {
  margin-top: 6rem;
}
section#name {
  margin-bottom: 2rem;
}
.productionLineItem {
  margin-top: 2rem
}
.productionLineItem div {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.production {
  color: var(--clr-blue-800);
  /* text-shadow:1px 1px 3px var(--clr-blue-300); */
}
dl#cast, dl#crew {
  display:flex;
  flex-direction: column;
  max-width: 40rem;
}

#cast dt, #crew dt {
  background-color: var(--clr-teal-200);
  color: var(--clr-neutral-800);
  font-weight: 600;
  font-size: 120%;
  margin-top: 1.5rem;
  border-top: 1px black solid;
  border-left: 1px black solid;
  border-right: 1px black solid;
  padding-inline-start: 1rem;
}

#cast dd, #crew dd{
  font-weight: 400;
  border-bottom: 1px black solid;
  border-left: 1px black solid;
  border-right: 1px black solid;
}
.personLineItem figure{
  display: flex;
  align-items: center;
  justify-items: flex-start;
  gap:2rem
}
.personLineItem svg, #headshot svg, #homepage svg {
  min-width: 96px;
  color: #888;
  background-color: #eee;
  padding: .75rem
}
.productionLineItem {
  display: flex;
  align-items: start;
  justify-items: flex-start;
  gap: 2rem;
}

figure.productionPhoto:not(:first-of-type) {
  margin-top: 4rem
}

#poster svg {
  width: 128px;
}