---
layout: index.njk
---
<header>
  <hgroup>
    <h1>{{ production.show.title }}</h1>
    <h2>{{ production.company.name }}</h2>
  </hgroup>
  <nav>
    <ul role='list'>
      <a href="/productions/{{production.slug.current}}"><li>Description</li></a>
      <a href="/productions/{{production.slug.current}}/cast"><li>Cast</li></a>
      <a href="/productions/{{production.slug.current}}/crew"><li>Crew</li></a>
      <a href="/productions/{{production.slug.current}}/pictures"><li>Pictures</li></a>
    </ul>
  </nav>
</header>
{{ content | safe }}