---
layout: production.njk
pagination:
  data: productions
  size: 1
  alias: production
permalink: "/productions/{{ production.slug.current }}/cast/"
eleventyComputed:
  title: "Cast - {{production.show.title}} - {{production.company.name}}"
---

<article>
  <h2>Cast</h2>
  <dl id="cast">
    {% for character in production.cast %}
      <dt>
        {{ character.characterName }}
      </dt>
      <dd>
        <ul>
          {% for cast in character.castMembers %}
            {% set cm = cast.castMember %}
            <li class="personLineItem">
                <figure>
              <a href="/people/{{ cm.slug.current }}">
                    {% if cast.characterPhotos %}
                      <img src="{% imageSrc cast.characterPhotos[0].photo, "xs", true %}" />
                    {% elif cm.headshot %}
                      <img src="{% imageSrc cm.headshot, "xs", true %}" />
                    {% else %}
                      <img src="/static/ticket-outline.svg"/>
                    {% endif %}
              </a>
                  <figcaption id="caption-{{ cm._id }}">
                    <a class="personLink" href="/people/{{ cm.slug.current }}">{{ cm.name }}</a>
                  </figcaption>
                </figure>
            </li>
            {% else %}
            <li class="personLineItem">
            
                <figure>
                      <img src="/static/ticket-outline.svg"/>
                  <figcaption>
                    —
                  </figcaption>
                </figure>
            </li>
          {% endfor %}
        </ul>
      </dd>
    {% endfor %}
  </dl>
</article>