---
layout: production.njk
pagination:
  data: productions
  size: 1
  alias: production
permalink: "/productions/{{ production.slug.current }}/"
eleventyComputed:
  title: "{{production.show.title}} - {{production.company.name}}"
---
  <article>
    <section id="poster">
      {% if production.poster %}
    <img class="poster" src="{% imageSrc production.poster, "md"%}"/>
    {%else%}
    <img class="alternatePoster" src="/static/ticket-outline.svg"/>
    {%endif%}
  </section>
    <section id="description">
      <h2>Description</h2>
      {{ production.description | sanityToHTML | safe }}
    </section>
  </article>