---
permalink: "/index.html"
layout: index.njk
---

<article id="homepage">
  <dl>
    {% for production in productions %}
      <div class="productionLineItem">
        {% if production.poster %}
          <a href="/productions/{{ production.slug.current }}"><img src="{% imageSrc production.poster, "xs", true %}"/></a>
        {% else %}
          {% svgShow %}
        {% endif %}
        <div>
          <dt>
            <a href="/productions/{{ production.slug.current }}">{{ production.show.title }}
              ({{ production.year }})</a>
          </dt>
          <dd>{{ production.company.name }}</dd>
        </div>
      </div>
    </div>
  {% endfor %}
</dl></article>