<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bundle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
  </head>
  <body>
    <header>
      <a href="/">TCCTDB</a>
      </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      A project of
      <a href="https://4communitytheatre.org">4 Community Theatre</a>
      with content hosting by
      <a href="https://sanity.io">Sanity.io</a>.
      <!--Source at: https://github.com/dansherman/tcctdb-->
    </footer>
  </body>
</html>