---
layout: index.njk
---
<header>
  <hgroup>
    <h1>{{ production.show.title }}</h1>
    <h2>{{ production.company.name }}</h2>
  </hgroup>
  <nav>
    <ul role='list'>
      <li><a href="/productions/{{production.slug.current}}">Description</a></li>
      <li><a href="/productions/{{production.slug.current}}/cast">Cast</a></li>
      <li><a href="/productions/{{production.slug.current}}/crew">Crew</a></li>
      <li><a href="/productions/{{production.slug.current}}/pictures">Pictures</a></li>
    </ul>
  </nav>
</header>
{{ content | safe }}