body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto; /* => header main footer */

  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: center;
}
header {
  margin-top: 2rem;
  text-align: center;
}
header, footer, main {
  justify-self: center;
  min-width: 95%;
}
header>nav>ul {
  display: flex;
  justify-content: center;
}
header>nav>ul>a>li {
  padding-inline:0.75rem;
  margin-inline:0.5rem;
  outline: 1px solid black;
  outline-offset: -1px;
  color: black;
  box-shadow: 0px 4px 0 black;
  border-radius: 1rem;
}
header>nav>ul>a>li:hover {
  background-color: var(--clr-teal-300);
  box-shadow: 0px 5px 0 var(--clr-teal-700);
  outline: 1px solid var(--clr-teal-700);
}
header>nav>ul>li:first-child {
  margin-inline-start:0
}
header>nav>ul>li:last-child {
  margin-inline-end:0;
}
footer {
  font-size: 75%;
  margin-top: 3rem;
  text-align: center;
}
dd>ul>li {
  list-style-type: none;
}
dd>ul>li:not(:first-child) {
  margin-top:1rem;
}
#headshot svg {
  min-width: 256px;
  color: #888;
  background-color: #eee;
  padding: .75rem
}
.personLineItem img {
  /* border-radius: 0.5rem; */
}
section:not(#headshot) {
  margin-top: 2rem;
}
section#name {
  margin-bottom: 2rem;
}
.productionLineItem {
  margin-top: 2rem
}
.productionLineItem div {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.production {
  color: var(--clr-blue-800);
  /* text-shadow:1px 1px 3px var(--clr-blue-300); */
}
dl#cast, dl#crew {
  display:flex;
  flex-direction: column;
  max-width: 40rem;
  min-width: 512px;
}
#description {
  max-width:40rem;
}
#cast dt, #crew dt {
  background-color: var(--clr-teal-200);
  color: var(--clr-neutral-800);
  font-size: 120%;
  margin-top: 1.5rem;
  border-top: 1px black solid;
  border-left: 1px black solid;
  border-right: 1px black solid;
  padding-inline-start: 0.5rem;
}
dd {
  font-weight: 400;
}
dt {
  font-weight: 500;
}
#cast dd, #crew dd{

  border-bottom: 1px black solid;
  border-left: 1px black solid;
  border-right: 1px black solid;
}
.personLineItem figure{
  display: flex;
  align-items: center;
  justify-items: flex-start;
  gap:2rem
}
.personLineItem img[src$=".svg"], #headshot img[src$=".svg"], #homepage img[src$=".svg"] {
  min-width: 96px;
  color: #888;
  background-color: #eee;
  padding: .75rem;

}
.productionLineItem {
  display: flex;
  align-items: start;
  justify-items: flex-start;
  gap: 2rem;
}

figure.productionPhoto:not(:first-of-type) {
  margin-top: 4rem
}
.productionPhoto figcaption {
  text-align: center;
}
#poster {
  justify-items: center;
}
.poster {
  margin: 0 auto;
}
.alternatePoster {
  width: 128px;
  background-color: #eed;
}
.jobName {
  padding-inline-start: 0.5rem;
}