body:has(dialog:target) {
  /* Prevent page scrolling when lightbox open (for browsers that support :has()) */
  position: fixed;
}

a[href^='#lightbox-'] {
  /* Show 'zoom in' cursor over lightboxed images. */
  cursor: zoom-in;
}

.lightbox {
  /* Lightboxes are hidden by-default, but occupy the full screen and top z-index layer when shown. */
  all: unset;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #333;
}
.lightbox figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.lightbox figcaption {
  font-size: 1rem;
  position: fixed;
  bottom: 0px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: var(--clr-teal-100);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-top: 1px solid var(--clr-teal-700);
  border-left: 1px solid var(--clr-teal-700);
  border-right: 1px solid var(--clr-teal-700);
}
.lightbox:target {
  /* If the target of the URL points to the lightbox, it becomes visible. */
  display: flex;
  justify-content: center;
}

.lightbox img {
  /* Images fill the lightbox. */
  object-fit: contain;
  height: 100vh;
  width: 100%;
}
.close {
  position: fixed;
            top: 10px;
            right: 10px;
}
.close svg {
  width: 2.5rem;
  height: 2.5rem;
  color: #888;
  background-color: #eee;
  border-radius: 50%;
  padding: 0;
  min-width: 0;
}
.lightbox a:hover:not(.personLink) {
  outline: none;
}
.attribution {
  text-align: center
}