@font-face {
  font-family: 'Inter';
  src: url('/static/Inter-VariableFont_slnt,wght.ttf');
  font-display: swap;
}
body {
font-size: 100%;
font-family: "Inter", system-ui, sans-serif;
}
a.personLink::before {
  content: url('/static/user-micro.svg');
  margin-inline-end: 0.25rem;
  color: blue;
  
}
a.productionLink::before {
  content: url('/static/ticket-mini.svg');
  margin-inline-end: 0.25rem;
  color: blue;
}
.productionLink {
  font-size: 1.2em;
}
.characterName::before {
  content: url('/static/user-circle-micro.svg');
  margin-inline-end: 0.25rem;
}
.gem {
  align-self: center;
}
a {
  text-decoration: none;
  color: currentColor;
}
#siteLogo {
  /* background-color: var(--clr-teal-700); */
  font-size: 3rem;
  font-weight: 800;
  color: white;
  /* text-shadow: 0px 0px 5px var(--clr-teal-200); */
  -webkit-text-stroke: 1.5px navy;
  text-shadow: 1px 1px 0 navy;
  /* border-radius: 2em;
  padding-inline: 3rem; */
}