---
permalink: "/index.html"
layout: index.njk
---

<article id="homepage">
  <dl>
    {% for production in productions %}
      <div class="productionLineItem">
        <a href="/productions/{{ production.slug.current }}">
        {% if production.poster %}
          <img src="{% imageSrc production.poster, "xs", true %}"/>
        {% else %}
          <img src="/static/ticket-outline.svg"/>
        {% endif %}
        </a>
        <div>
          <dt>
            <a class="productionLink" href="/productions/{{ production.slug.current }}">{{ production.show.title }}
              ({{ production.year }})</a>
          </dt>
          <dd>{{ production.company.name }}</dd>
        </div>
      </div>
    </div>
  {% endfor %}
</dl></article>