---
permalink: "/index.html"
layout: index.njk
---

<article id="homepage">
  <p class="intro"><strong>Twin Cities Community Theater Database</strong>. Very much a work in progress. Send any questions or contributions to <a href="mailto:dan@4communitytheatre.org"><code>dan@4communitytheatre.org</code></a>.</p>
  <dl>
    {% for production in productions %}
      <div class="productionLineItem">
        <a href="/productions/{{ production.slug.current }}">
        {% if production.poster %}
          <img src="{% imageSrc production.poster, "xs", true %}" height="96" width="96"/>
        {% else %}
          <img src="/static/ticket-outline.svg" height="96" width="96"/>
        {% endif %}
        </a>
        <div>
          <dt>
            <a class="productionLink" href="/productions/{{ production.slug.current }}">{{ production.show.title }}
              ({{ production.year }})</a>
          </dt>
          <dd>{{ production.company.name }}</dd>
        </div>
      </div>
  {% endfor %}
</dl></article>